* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
  
    .div__logo a {
      text-decoration: none;
      font-size: 1.5rem;
      border: 1px solid black;
      background-color: black;
      color: white;
      border-radius: 15px;
      padding: 3px;
      margin: 3px;
    }
  
    .div__menu ul li {
      list-style: none;
      border: 1px solid black;
      background-color: black;
      display: flex;
      justify-content: center;
      margin: 1rem;
      padding: .2rem;
  
      a {
        text-decoration: none;
        gap: 1rem;
        color: white;
      }
    }
  }
  
  .main {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .div__main {
      background-color: lightblue;
      height: auto;
  
      h1 {
        font-size: 3rem;
        text-decoration: underline;
      }
  
      p {
        text-align: center;
        font-size: 1.2rem;
      }
    }
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    h4 {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: .5rem;
    }
  
    .div__section {
      img {
        height: 30rem;
        border: 1px solid black;
        border-radius: 3rem;
        padding: 1rem;
        background-color: lightblue;
      }
  
      p {
        text-align: center;
        font-size: 1.5rem;
        text-decoration: underline;
      }
    }
  }
  
  .footer {
    height: 5rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    border: 5px solid lightblue;
  
    .div__footer {
      color: white;
      font-size: 1rem;
    }
  
    .div__menuf ul li a {
      color: white;
      text-decoration: none;
    }
  }